body {
  font-family: 'Noto Sans TC', serif;
  background-color: beige;
}

.main {
  width: 1240px;
  margin: 100px auto;
  background-color: #ffffff;
  box-shadow: 3px 3px 6px rgba(135, 134, 134, 0.5);
  display: flex;
}

.side {
  width: 33%;
  height: 1754px;
  background-color: #000000;
  padding: 80px 50px;
  text-align: center;
  color: #ffffff;
}

.imgCircle {
  border: 1px solid #ffffff;
  border-radius: 50%;
  height: 300px;
  padding: 10px;
  margin-bottom: 30px;
}

.imgBox{

  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
}

.avatar {
  width: 120%;
  height: 120%;
  object-fit: cover;
  object-position: -103px -35px ;
}

.name{
  font-size: 80px;
  font-weight: 300;
}

div> h5{
  margin-top: 50px;
  margin-bottom: 20px;
  font-weight: 200;
  border-bottom: 1px solid #ffffff;
  padding-bottom: 15px;
}

.personalData > h6{
  font-weight: 200;
  letter-spacing: 0.1em;
}

.signBox{
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
}

.sign{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding-top: 8px;
  padding-left: 7px;
  letter-spacing: 0.2em;
}

.ai{
  border: 2px solid orange;
  color: orange;
}

.ps{
  border: 2px solid cyan;
  color: cyan;
}

.xd{
  border: 2px solid Magenta;
  color: Magenta;
}

.tag{
  margin: 0px auto 20px auto;
  width: 250px;
  border: 2px solid #ffffff;
  border-radius: 15px;
  padding: 5px 0px;
  font-weight: 200;
  letter-spacing: 0.2em;
}

.train > h6{
  font-weight: 200;
  letter-spacing: 0.1em;
  line-height: 1.4em;
}

/* content */

.content{
  width: 67%;
  padding: 80px 30px;
  text-align: center;
}

.icon{
  width: 70px;
  height: 70px;
  margin: 20px auto 20px auto;
  font-size: 48px;
  border: 5px solid #000000;
  border-radius: 50%;
  box-sizing: content-box;
}

.title{
  width: 20%;
  margin: 0px 30px;
  letter-spacing: 0.1em;
}

hr{
  display: inline-block;
  width: 30%;
  color: #000000;
  opacity: unset;
  height: 2px;
}

.wrapper{
  display: flex;
  margin: 0px auto;
  justify-content: center;
  margin-bottom: 30px;
}

.person{
  margin-top: 80px;
}

.text{
  font-size: 24px;
  padding: 0px 50px;
  letter-spacing: 0.05em;  
  text-align: left;
}
